[Desktop Entry]
Encoding=UTF-8
Name=Fortcoin
Comment=Fortcoin P2P Cryptocurrency
Comment[fr]=Fortcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fortcoin, eşten eşe kriptografik sanal para birimi
Exec=Fortcoin-qt %u
Terminal=false
Type=Application
Icon=Fortcoin128
MimeType=x-scheme-handler/Fortcoin;
Categories=Office;Finance;
